<section id="about">
  <h1>About Renee</h1>
  <p>My name is Renee Char and I am a full-stack web developer based in San Francisco, CA. I have built multiple dynamic full-stack web applications and have collaborated on legacy applications. I also love participating at local hackathons and developing online games with other developers in the community. Keep scrolling to see the projects I've developed recently. Thanks for visiting!</p>
</section>