<% provide(:title, "Home") %>
<section id="top">
  <h1 class="animated fadeIn text-center">I'm Renee, a web developer with a passion for user experience.</h1>
  <p class="location animated fadeIn text-center">Based in San Francisco, CA</p>
</section>

<%= render 'shared/navbar' %>

<div class="lower-half">
  <div class="first-image"></div>

  <%= render 'shared/about' %>
  <%= render 'shared/projects' %>
  <%= render 'shared/contact' %>
</div>
