// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$underwater-blue: #226888;
$light-underwater: #398EB6;
$eyecat: #FFA200;
$sunpower: #FFD600;
$toxic-sunshine: #FFF500;

@mixin project {
  width: 100%;
  height: 300px;
  background-size: contain;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #EBF5F9;
}

.nav, .nav a:hover, .nav a:focus {
  display: flex;
  background-color: #EBF5F9 !important;
}


.first-image {
  flex: 0 0 100%;
  padding-top: 10px;
  height: 300px;
  background: url("/cherry-blossoms.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#top {
  flex: 0 0 100%;
  height: 300px;
}

.location {
  color: $light-underwater;
}

.affix {
  top: 0;
  width: 100%;
}

.affix-top {
  width: 100%;
}

.affix + .lower-half {
  padding-top: 60px;
}

.renee-picture {
  width: 250px;
  height: 250px;
  background: url("/renee_char.png");
  background-size: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.contact-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#spellcasters {
  background: url("/spellcasters.png") no-repeat left;
  @include project;
}

#kanban {
  background: url("/kanban.png") no-repeat left;
  @include project;
}

#disruptArmy {
  background: url("/disrupt-army.png") no-repeat left;
  @include project;
}

#expressGallery {
  background: url("/express-gallery.png") no-repeat left;
  @include project;
}

.project-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  li {
    flex: 0 0 45%;
    margin: 0 40px 20px 0;
  }
}

@media screen and (max-width: 991px) {
  .project-list > li {
    flex: 0 0 100%;
    margin: 20px 0;
  }
  #spellcasters, #expressGallery, #kanban, #disruptArmy {
    height: 500px;
  }
}

@media screen and (max-width: 761px) {
  #spellcasters, #expressGallery, #kanban, #disruptArmy {
    height: 400px;
  }
}

@media screen and (max-width: 593px) {
  #spellcasters, #expressGallery, #kanban, #disruptArmy {
    height: 300px;
  }
}

footer {
  text-align: center;
  width: 100%;
  height: 100px;
  padding-top: 100px;
}

.githubIcon {
  width: 30px;
  height: 30px;
  background: url("/github.png");
  background-size: contain;
  display: inline-block;
  margin: 0 5px;
}

.githubLink {
  display: inline-block;
  vertical-align: middle;
}

